<alert dismissible="true">Click in the window to start the game, press <kbd>esc</kbd> at any time to pause/exit</alert>
<div id="game-container" (window:resize)="onResize()" (click)="this.mouse.requestPointerLock()">
    <div id="overlay">
        <div id="crosshair">&#x268b;</div>
        <p id="author">2016 Jonas Nielsen</p>
    </div>
</div>
<form tooltipPlacement="bottom" tooltip="Tip: Downsizing the browser window can greatly increase performance">
    <label><input (click)="setFPS(15)" type="radio" name="framerate" value="15">15 fps</label>
    <label><input (click)="setFPS(30)" type="radio" name="framerate" value="30" checked>30 fps</label>
    <label><input (click)="setFPS(60)" type="radio" name="framerate" value="60">60 fps</label>
    <label><input (click)="setFPS(120)" type="radio" name="framerate" value="120">120 fps</label>
</form>
<p>
    objects: {{this.scene.getObjectCount()}}
</p>
<dl>
    <dt>Skybox</dt>
    <dd>Ice River by <a target="_blank" href="http://www.humus.name/">Emil Persson, aka Humus</a></dd>
    <dt>Textures</dt>
    <dd><a target="_blank" href="https://freestocktextures.com/">freestocktextures.com</a></dd>
    <dt>Graphics Library</dt>
    <dd><a target="_blank" href="https://threejs.org/">Three.js</a></dd>
    <dt>Physics Engine</dt>
    <dd><a target="_blank" href="http://www.cannonjs.org/">Cannon.js</a></dd>
    <dt>Framework</dt>
    <dd><a target="_blank" href="https://angular.io/">Angular 2</a></dd>
    <dd><a target="_blank" href="http://getbootstrap.com/">Bootstrap</a></dd>
</dl>
