<form (ngSubmit)="setFPS(fps.value)">
  <input type="number" value="60" #fps>
  <button type="submit">Set FPS</button>
</form>
<form (ngSubmit)="setSize(width.value, height.value)">
  <input type="number" value="1280" #width>
  <input type="number" value="720" #height>
  <button type="submit">Set size</button>
</form>
<form (ngSubmit)="setBgColor(color.value)">
  <input type="color" value="#DDF" #color>
  <button type="submit">Set bg-color</button>
</form>
<div id="game-container"></div>
<p>
  game works!
</p>