<alert dismissible="true">Click in the window to start the game, press <kbd>esc</kbd> at any time to pause/exit</alert>
<div id="game-container" (window:resize)="onResize()" (click)="onClick()">
    <div id="crosshair">&#x268b;</div>
    <p id="author" class="hidden-xs">2016 Jonas Nielsen</p>
</div>
<div class="row">
    <div class="col-xs-8">
        <p>FPS: <var [ngClass]="{'text-danger': getFpsFiltered() < 30}">{{ getFpsFiltered() }}</var></p>
        <p>Objects: <var>{{scene.getObjectCount()}}</var></p>
    </div>

    <div class="col-xs-4">
        <progressbar [animate]="false" [max]="15" [value]="player.getCharge()"></progressbar>
        <progressbar [animate]="false" type="success" [max]="100" [value]="player.getJumpCharge()"></progressbar>
    </div>
</div>

<dl>
    <dt>Movement</dt>
    <dd>
        <kbd>A</kbd>
        <kbd>W</kbd>
        <kbd>S</kbd>
        <kbd>D</kbd>
    </dd>
    <dt>Throw/Fire</dt>
    <dd>
        <abbr title="Left mouse button">L-MB</abbr>
    </dd>
    <dt>Jump</dt>
    <dd><kbd>space</kbd></dd>
    <dt>Zoom</dt>
    <dd>
        <kbd>shift</kbd>
    </dd>
    <dt>Toggle Camera</dt>
    <dd><abbr title="Right mouse button">R-MB</abbr></dd>
    <dt>Restart Level</dt>
    <dd><kbd>Q</kbd></dd>
</dl>

<dl>
    <dt>Skybox</dt>
    <dd>Ice River by <a target="_blank" href="http://www.humus.name/">Emil Persson, aka Humus</a></dd>
    <dt>Textures</dt>
    <dd><a target="_blank" href="https://freestocktextures.com/">freestocktextures.com</a></dd>
    <dt>Graphics Library</dt>
    <dd><a target="_blank" href="https://threejs.org/">Three.js</a></dd>
    <dt>Physics Engine</dt>
    <dd><a target="_blank" href="http://www.cannonjs.org/">Cannon.js</a></dd>
    <dt>Framework</dt>
    <dd><a target="_blank" href="https://angular.io/">Angular 2</a></dd>
    <dd><a target="_blank" href="http://getbootstrap.com/">Bootstrap</a></dd>
</dl>
